<div class="modal">
  <div class="modal__title">
    <h3>Inicia sesión o registrate</h3>
  </div>
  <div class="modal__content">
    <!-- <span>Hola soy el título secundario</span> -->
  </div>
  <div class="modal__actions">
    <button
      mat-raised-button color="primary"
      [routerLink]="['login']"
      mat-dialog-close>Inicia sesión
    </button>
    <button
      mat-raised-button color="primary"
      [routerLink]="['register']"
      mat-dialog-close>Registrate
    </button>
  </div>
</div>

