@use '../../../../scss/02.tools/mixins' as mixins;

.usuario {
    display: flex;
    flex-direction: column;

}


::ng-deep .mat-tab-label-content {
    font-size: 2rem;

    @include mixins.respond(phone) {
      font-size: inherit;
    }
}


