@use '../../../../scss/01.settings/_settings' as color;
@use '../../../../scss/02.tools/mixins' as mixins;

.header-admin {
  min-height: 70px;
  background-color: color.$color-primary;
  display: flex;

  @include mixins.respond(phone) {
    display: flex;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

    @include mixins.respond(phone) {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 10px;
    }
  }

  &__menu-toggler {
    display: none;
    @include mixins.respond(phone) {
      display: flex;
      flex: 1;
    }
  }

  &__routerlink {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    @include mixins.respond(phone) {
      flex: 1;
    }
  }

  &__links {
         display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;


    @include mixins.respond(phone) {
      display: none;

    }
  }

  &__items {
    text-decoration: none;
    color: slategrey;
    font-size: 1.5rem;
    margin-right: 20px;

    &:hover,
    &:focus {
      color: green;
    }
  }

  &__avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @include mixins.respond(phone) {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      // display: none;
    }
  }

  button.mat-button {
    @include mixins.respond(phone) {
      display: none;
    }
  }
}
