<div class="header-admin">
  <nav class="header-admin__nav">
    <div class="header-admin__menu-toggler">
      <app-menuToggler (click)="dispararEventoClick()" toggler-style="menu" [toggled]="toggle"></app-menuToggler>
    </div>
    <div class="header-admin__routerlink">
        <span>{{titulo | uppercase}}</span>
    </div>
    <div class="header-admin__links">
      <span class="header-admin__items">Saludo ADMIN</span>
      <div class="header-admin__items">
        <img class="header-admin__avatar" src="assets/usuarios-imagenes/usuario1.jpg" alt="usuario">
      </div>
      <button class="header-admin__items" mat-button [matMenuTriggerFor]="menu" >
        <span>Mis gestiones</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['admin', 'confirmar-eventos']">Confirmar eventos</button>
        <button mat-menu-item [routerLink]="['admin', 'nuevo-evento']">Crear evento</button>
        <button mat-menu-item [routerLink]="['admin', 'reservas']">Reservas</button>
        <button mat-menu-item [routerLink]="['admin', 'historial']">Historial</button>
        <button mat-menu-item [routerLink]="['']" (click)="cerrarSesion()">Cerrar sesión</button>
      </mat-menu>
    </div>
  </nav>
</div>
