@use '../../../scss/02.tools/_mixins.scss' as boton;

.login {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

  &__wrapper {
    min-width: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
  }

  &__title {
    align-self: center;
    padding: 20px;
    h2 {
      font-size: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;

    button.mat-raised-button {
      align-self: center;
      @include boton.boton-max-width;
    }

  }


}
