.sidenav {

  &__container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(216, 235, 211, 0.604);
  }
}
