.sidenav {
  &__container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(216, 235, 211, 0.604);
  }

  &__container-drawer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list {
    flex: 1;
  }

  &__close {
    align-self: center;

  }

}
