<mat-sidenav-container class="sidenav sidenav__container">
  <mat-sidenav #sidenav mode="push" closed class="sidenav__side" [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="60">
    <div class="sidenav__container-drawer">
      <mat-nav-list class="sidenav__list">
        <a mat-list-item
          [routerLink]="[link]"
          *ngFor="let link of links" (click)="sidenav.toggle()"> {{reemplazarLinksATitutosTabs(link) | titlecase}}
        </a>
      </mat-nav-list>
      <div class="sidenav__close">
        <button mat-button [routerLink]="['']" (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
