@use '../../../../scss/01.settings/_settings' as color;
@use '../../../../scss/02.tools/mixins' as mixins;

.header-registro {
  min-height: 70px;
  background-color: color.$color-primary;
  display: flex;

  &__nav {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.8rem; // Equivale a 18px; 10px * 1.8 =

    @include mixins.respond(phone) {
      display: flex;
      align-items: center;
      flex: 1;
      font-size: 1.8rem;
      padding: 10px;
    }
  }

  &__logo {
    display: flex;
    flex: 1;
    cursor: pointer;
    margin-left: 1.5rem;

    @include mixins.respond(phone) {
      order: 2;
      font-size: 1.2rem;
      flex: none;
      margin-left: 0;
    }
  }

  &__icon-mis-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__figcaption {
    font-size: 1.3rem;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    flex: 0.75;
    cursor: pointer;
    align-items: center;
    cursor: pointer;

    @include mixins.respond(phone) {
      order: 1;
      margin-left: auto;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__links .header-registro__links-items:first-child {
       @include mixins.respond(phone) {
        display: none;
    }
  }

  &__links-items {
    text-decoration: none;
    color: slategrey;
    font-size: 1.5rem;
    margin-right: 20px;

    &:hover,
    &:focus {
      color: green;
    }
  }

  &__avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__links-items.m-l {
    margin-left: 20px;
  }

  &__dropdown {
    position: relative;
  }

}
