<div class="header-registro">
  <nav class="header-registro__nav">
    <span class="header-registro__logo" [routerLink]="['privado']">
      Área Privada
    </span>
    <div class="header-registro__links">
      <a *ngIf="usuario" class="header-registro__links-items">Bienvenido {{ usuario.nombre }}</a>
      <a class="header-registro__links-items header-registro__dropdown">
        <img class="header-registro__avatar" src="assets/usuarios-imagenes/usuario1.jpg" alt="usuario">
      </a>
      <app-icon-mis-eventos [url]="'usuario'" (numEventos$)="existenMisEventos($event)"  @flashing></app-icon-mis-eventos>
      <button mat-button [matMenuTriggerFor]="menu" class="header-registro__links-items m-l">
        <span>Mis gestiones</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="total > 0" mat-menu-item [routerLink]="['privado', 'eventos', 'usuario']">Mis eventos ...</button>
        <button mat-menu-item [routerLink]="['privado', 'eventos']">Próximos</button>
        <button mat-menu-item [routerLink]="['privado', 'eventos']">Históricos</button>
        <button mat-menu-item [routerLink]="['privado', 'nuevo-evento']">Nuevo evento</button>
         <button mat-menu-item [routerLink]="['privado','perfil']">Editar perfil</button>
        <button mat-menu-item [routerLink]="['/']" (click)="cerrarSesion()">Cerrar sesión</button>
      </mat-menu>

    </div>
  </nav>
</div>
