@use '../../../scss/01.settings/settings' as color;

.search {
  height: 80px;

  &__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  &__item,
  input[type="search"] {
    width: 500px;
    min-width: 300px;
    margin: 10px;
    padding: 10px 12px;
    border-radius: 32px;
    outline: none;
    border: 1px solid slategrey;
    background: whitesmoke;
    transition: all 0.5s;
    font-size: 1.8rem;
  }

    &__item::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: darkslategrey;
    cursor: pointer;
   }


  &__item,
  input[type="search"]:focus {
    background: #fff;
    width: 50%;
    color: slategrey;
  }



}




