<mat-table [dataSource]="dataSource" class="mat-elevation-z8 reservas">

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="fechaReserva">
    <mat-header-cell *matHeaderCellDef> Día reserva </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fecha | date:'mediumDate'}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="direccion">
    <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="detalle">
    <mat-header-cell *matHeaderCellDef> Ver detalle </mat-header-cell>
    <mat-cell *matCellDef="let element"> Editar </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

