.nuevo-evento {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

  &__wrapper {
    flex: 0.5;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;

  }

  &__form--col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__direccion {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  button.mat-raised-button {
    align-self: center;
  }
}
