<div class="nuevo-evento">
  <div class="nuevo-evento__wrapper mat-elevation-z4">
    <form class="nuevo-evento__form" [formGroup]="formularioNuevoEvento" (ngSubmit)="crearNuevoEvento()">
      <label>Título</label>
       <mat-form-field appearance="outline">
        <input matInput placeholder="Título" formControlName="titulo">
        <mat-error *ngIf="noEsCampoValido('titulo')">
          {{ obtenerMensajeError('titulo') }}
        </mat-error>
      </mat-form-field>
       <label>Descripción</label>
       <mat-form-field appearance="outline">
        <textarea matInput placeholder="Descripcion del evento" formControlName="descripcion"></textarea>
        <mat-error *ngIf="noEsCampoValido('descripcion')">
          {{ obtenerMensajeError('descripcion') }}
        </mat-error>
      </mat-form-field>
      <label>Dirección</label>
       <mat-form-field appearance="outline">
        <input matInput placeholder="direccion" formControlName="direccion">
        <mat-error *ngIf="noEsCampoValido('direccion')">
          {{ obtenerMensajeError('direccion') }}
        </mat-error>
      </mat-form-field>
      <div class="nuevo-evento__form--col-2">
        <mat-form-field appearance="outline">
         <mat-label>precio</mat-label>
         <input matInput placeholder="precio" formControlName="precio">
         <mat-error *ngIf="noEsCampoValido('precio')">
           {{ obtenerMensajeError('precio') }}
         </mat-error>
       </mat-form-field>

       <mat-form-field color="primary" appearance="fill">
         <mat-label>fecha</mat-label>
         <input matInput [matDatepicker]="calendario" formControlName="fecha">
         <mat-datepicker-toggle matSuffix [for]="calendario"></mat-datepicker-toggle>
         <mat-datepicker #calendario color="primary"></mat-datepicker>
       </mat-form-field>
      </div>

      <button mat-raised-button color="primary">Crear nuevo evento</button>

    </form>
  </div>
</div>
