<form [formGroup]="formularioCambioPassword" class="tab-usuario mat-elevation-z3" (ngSubmit)="actualizarPassword()">
  <div class="tab-usuario__wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Nueva password</mat-label>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar password</mat-label>
      <input matInput placeholder="Password" [type]="hide2 ? 'password' : 'text'" formControlName="cambioPassword">
      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary">
      <span #text>
        Modificar
      </span>
    </button>
  </div>
</form>
