<footer class="footer">
  <div class="footer__items">
    <div class="footer__left">
      <div class="footer__logo">
        <h3>Barum</h3>
      </div>
      <p class="footer__links">
        <a class="footer__links-items" [routerLink]="['/']">Home</a>
        <a class="footer__links-items">Blog</a>
        <a class="footer__links-items">Pricing</a>
        <a class="footer__links-items">About</a>
        <a class="footer__links-items">Faq</a>
        <a class="footer__links-items">Contact</a>
      </p>
      <p class="footer__company-name">Barum © 2020</p>
    </div>
  </div>

  <div class="footer__items">
    <div class="footer__center">
      <div>
        <i class="material-icons footer__icons">location_on</i>
        <p>Calle Orense ,34 Madrid </p>
      </div>

      <div>
        <i class="material-icons footer__icons">call</i>
        <p>911234466</p>
      </div>

      <div>
        <i class="material-icons footer__icons">mail</i>
        <p>support@company.com</p>
      </div>
    </div>
  </div>

  <div class="footer__items">
    <div class="footer__right">
      <p class="footer__company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
        vehicula
        sit amet.
      </p>
      <div class="footer__footer-icons">
        <a><i class="material-icons">facebook</i></a>
        <a><i class="material-icons">twitter</i></a>
        <a><i class="material-icons"></i></a>
        <a><i class="material-icons">github</i></a>
      </div>
    </div>
  </div>
</footer>
