.dropdown {

    &__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__dropdown-content .dropdown__dropdown-items {
    color: slategrey;
    padding: 12px 16px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      flex: 1;
    }
  }

  &__dropdown-content .dropdown__dropdown-items:hover {
    background-color: #ddd;
  }

  &__dropdown:hover .dropdown__dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
