.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: darkcyan;
  cursor: pointer;

  &__container-imagen {
    max-width: 450px;
    height: 300px;
  }

  &__imagen {
    height: 100%;
  }

  &__title {
    max-width: fit-content;
    font-size: 2.5rem;
    text-align: center;
  }
}
