<div class="reserva-form" *ngIf="evento">
  <div class="reserva-form__left">
    <div class="reserva-form__title">
      <h3>Datos personales</h3>
    </div>
    <form class="reserva-form__form" [formGroup]="formularioReserva" (ngSubmit)="reservarEvento()">
      <mat-form-field appearance="fill">
        <mat-label>{{usuario?.nombre}}</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{usuario?.apellido}}</mat-label>
        <input matInput placeholder="Apellido" formControlName="apellido">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{usuario?.email}}</mat-label>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" formControlName="telefono">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="green">Reservar</button>
    </form>
  </div>
  <div class="reserva-form__right">
     <div class="reserva-form__title">
      <h3>{{evento.titulo}}</h3>
    </div>
    <div class="reserva-form__imagen">
      <img src="{{evento.imagen}}" alt="{{evento.imagen}}">
    </div>
    <div class="reserva-form__location">
      <div class="reserva-form__direction">
        <p>La Granola</p>
        <p>{{evento.direccion}}</p>
        <p>Código postal</p>
      </div>
    </div>
  </div>
</div>
