@use '../../../../scss/01.settings/_settings.scss' as variables;

.header {
      min-height: 70px;
      background-color: variables.$color-primary;
      display: flex;

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 1.8rem; // Equivale a 18px; 10px * 1.8 =
    }

    &__logo {
      display: flex;
      cursor: pointer;
      margin-left: 1.5rem;
    }

    &__links {
      display: flex;
      cursor: pointer;

    }

    &__links-items {
       text-decoration: none;
       margin-right: 20px;
       background-image: linear-gradient(slategrey, slategrey);
       background-position: 0% 100%;
       background-repeat: no-repeat;
       background-size: 0% 2px;
       transition: background-size .3s;
       color: slategrey;
       font-size: 1.5rem;

       &:hover, &:focus {
         color: grey;
         background-size: 100% 2px;
       }
    }

}
