<div class="header">
  <nav class="header__nav">
    <span class="header__logo" [routerLink]="['/']">
      Logo
    </span>

    <div class="header__links">
      <a class="header__links-items">Qué es Barum</a>
      <a class="header__links-items" [routerLink]="['/usuario']">Usuario</a>

      <a class="header__links-items" [routerLink]="['/login']">Login</a>
      <a class="header__links-items" [routerLink]="['/register']">Register</a>
      <a class="header__links-items" routerLink="">Logout</a>
      <a class="header__links-items">Contactar</a>

    </div>
  </nav>
</div>


