<div class="confirmar-eventos__no-responsive">

  <button mat-button   class="boton" (click)="confirmarEventos()">Confirmar</button>

  <div class="confirmar-eventos__check">
    <h3>Seleccionada todos</h3>
    <app-checkbox-admin
      [data]="dataSource"
      [selection]="selection">
    </app-checkbox-admin>
  </div>

  <div class="confirmar-eventos__card">
    <app-table-admin
      [data]="dataSource"
      (eventoSelection$)="obtenerEventoSeleccionado($event)">
    </app-table-admin>
  </div>
</div>


<div class="confirmar-eventos__responsive">
  <div *ngIf="eventos.length >= 1  || estaSeleccionadoTodos" class="confirmar-eventos__button">
    <button mat-raised-button color="primary" (click)="confirmarEventos()">Confirmar</button>
  </div>
  <div class="confirmar-eventos__check">
    <h3>Seleccionada todos</h3>
    <app-checkbox-admin
      [data]="dataSource"
      [selection]="selection">
    </app-checkbox-admin>
  </div>

  <div class="confirmar-eventos__card">
    <app-card-admin
      *ngFor="let evento of dataSource; let i = index"
      [eventoData]="evento"
      [index]="i"
      (eventoSelection$)="obtenerEventoSeleccionado($event)">
    </app-card-admin>
  </div>
</div>
