<div class="card-reserva-evento" *ngIf="evento">


  <div class="card-reserva-evento__card mat-elevation-z2">

    <div class="card-reserva-evento__titulo">
      <label>Titulo</label>
      <div>
        {{ evento.titulo }}
      </div>
    </div>

    <div class="card-reserva-evento__imagen">
       <img [src]="evento.imagen" alt="{{evento.imagen}}">
    </div>

    <div class="card-reserva-evento__categoria">
      <div class="card-reserva-evento__etiqueta" [ngStyle]="{ 'background-color': evento.categoria.color }">
        <span>
          {{ evento.categoria.categoria }}
        </span>
      </div>
    </div>

    <div class="card-reserva-evento__direccion">
      <label>Dirección</label>
        <div class="card-reserva-evento__direccion-items">
          <p>Calle: {{ evento.direccion.calle }}, {{ evento.direccion.numero }}</p>
          <p>Provincia: {{ evento.direccion.provincia }}</p>
          <p>Código Postal: {{ evento.direccion.codigo }}</p>
        </div>
    </div>

    <div class="card-reserva-evento__precio" *ngIf="evento.precio !== 0, else noPrecio">
      <label>Precio</label>
      <span> {{ evento.precio }} €</span>
    </div>
    <ng-template #noPrecio>
      <span class="card-reserva-evento__precio-free">
        <img src="assets/iconos/free.ico" alt="free">
      </span>
    </ng-template>


    <div class="card-reserva-evento__fecha">
      <label>{{ evento.fecha  | formatoFecha: 'LL' }}</label>
      <button mat-raised-button class="boton-cancelar">Cancelar</button>

    </div>

  </div>



</div>
