<div class="card-reserva-evento" *ngIf="evento">


  <div class="card-reserva-evento__card mat-elevation-z2">

    <div class="card-reserva-evento__titulo">
      <span>
        {{ evento.titulo }}
      </span>

    </div>

    <div class="card-reserva-evento__imagen">
       <img [src]="evento.imagen" alt="{{evento.imagen}}">
    </div>

    <div class="card-reserva-evento__categoria">
      <div class="card-reserva-evento__etiqueta" [ngStyle]="{ 'background-color': evento.categoria.color }">
        <span>
          {{ evento.categoria.categoria }}
        </span>
      </div>
    </div>

    <div class="card-reserva-evento__direccion">
        <div class="card-reserva-evento__direccion-items">
          <span>Calle: {{ evento.direccion.calle }}, {{ evento.direccion.numero }}</span>
          <span>Provincia: {{ evento.direccion.provincia }}</span>
          <span>Código Postal: {{ evento.direccion.codigo }}</span>
        </div>
    </div>

    <div class="card-reserva-evento__precio" *ngIf="evento.precio !== 0, else noPrecio">
      <label>Precio</label>
      <span> {{ evento.precio }} €</span>
    </div>
    <ng-template #noPrecio>
      <span class="card-reserva-evento__precio-free">
        <img src="assets/iconos/free.ico" alt="free">
      </span>
    </ng-template>


    <div class="card-reserva-evento__fecha">
      <!-- <label>{{ evento.fecha  | formatoFecha: 'LL' }}</label> -->
      <div class="calendario">
        <div class="calendario__mes">
          {{ evento.fecha  | formatoFecha: 'MMM YYYY' | uppercase }}
        </div>
        <div class="calendario__dia">
           {{ evento.fecha  | formatoFecha: 'DD' | uppercase }}
        </div>

      </div>
      <button mat-raised-button class="boton-cancelar">Cancelar</button>

    </div>

  </div>



</div>
