@use '../../../scss/02.tools/_mixins.scss' as mixins;

.reserva-form {
  display: flex;

  @include mixins.respond(phone) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0.75;

    @include mixins.respond(phone) {
      margin-bottom: 15px;
      margin-top: 20px;
    }

    button.mat-raised-button {
      align-self: flex-start;
      @include mixins.boton-max-width;

      @include mixins.respond(phone) {
        align-self: center;
      }
    }
  }

  &__title {
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: center;

    @include mixins.respond(phone) {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding: 5px;
    }
  }

  &__imagen {
    max-width: 400px;
  }

  &__location {
    @include mixins.respond(phone) {
      align-self: flex-start;
    }
  }
}
