@use '../../../scss/02.tools/mixins';

.card-reserva-evento {
  font-size: 1.5rem;

  &__card {
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(-webkit-min-content, 70px) auto;
    grid-template-rows: minmax(min-content, 70px) auto;
    grid-gap: 5px;
  }

  &__titulo {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;

    span {
      font-size: 1.7rem;
    }
  }

  &__imagen {
    grid-row: 2;
    grid-column: 1;

    img {
      border-radius: 5px;
    }
  }

  &__categoria {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
  }

  &__etiqueta {
    padding: 2px 5px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    max-width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;

    span {
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
    }
  }

  &__direccion {
    grid-row: 2;
    grid-column: 2;
    display: flex;
  }

  &__direccion-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  &__precio {
    grid-row: 1;
    grid-column: 3;
    align-self: start;
    justify-self: end;

    display: flex;
    flex-direction: column;
    max-height: 120px;
    justify-content: space-evenly;
    align-items: center;

    label {
      background-color: #f4a261;
      padding: 2px 5px;
      border-radius: 15px;
      color: white;
      font-size: 1.3rem;
      max-width: fit-content;
      margin-bottom: 5px;
    }

    span {
      font-size: 2rem;
      color: #343a40;
    }
  }

  &__precio-free {
    grid-row: 1;
    grid-column: 3;
    align-self: flex-start;
    justify-self: end;

    img {
      width: 35px;
    }
  }

  &__fecha {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    label {
      background-color: darkkhaki;
      color: white;
      padding: 2px 5px;
      border-radius: 15px;
      font-size: 1.3rem;
    }
  }

  .mat-raised-button.boton-cancelar {
    background-color: tomato;
    color: white;
    align-self: flex-end;
  }

  .calendario {
    border: 2px solid indianred;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &__mes {
      background-color: indianred;
      align-self: stretch;
      color: white;
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      padding: 3px;
    }

    &__dia {
      font-size: 3rem;
    }
  }

  .flex-c {
    @include mixins.flex-c;
  }
}
